@import "tailwindcss";


  /* blog Css */
  
  .blog-container{
    padding:6rem 5% 4rem;
    width: 70%;
    background-color: #f0f8ff;
  }
  .toc-container {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin: auto;
  }
  
  .toc-title {
    color: #a64ca6;
    font-size: 24px;
    font-weight: bold;
    padding: 10px 20px;
  }
  
  .toc-list {
    padding-left: 0;
    margin: 20px;
  }
  
  .toc-list ul {
    margin-top: 10px;
    padding-left: 20px;
    background-color: white;
  }
  
  .toc-list ul li {
    padding-bottom: 5px;
    font-size: 16px;
  }
  
  .toc-sub-list{
    background-color: white;
  }
  .blog{
    padding: 0 25px;
  }
  .blog h2{
    padding: 25px 0 0 0 ;
    scroll-margin-top: 4rem ;
    font-size: 30px;
    font-weight: 700;
  }
  .blog h3{
    padding: 25px 0 0 0 ;
    font-size: 22px;
    scroll-margin-top: 4rem ;
    font-weight: 600;
  }
  .blog h4{
    padding: 10px 0 10px 0 ;
    font-size: 18px;
    scroll-margin-top: 4rem ;
    font-weight: 600;
  }
  .blog p,li{
    font-size: 18px;
  }



  @media only screen and (max-width:1024px) {
    .blog-container{
      width: 80%;
    }
    .blog h2{
      padding: 20px 0 10px 0 ;
      font-size: 25px;
      font-weight: 700;
      line-height: 1.1;
    }
    .blog h3{
      padding: 10px 0 5px 0 ;
      font-size: 20px;
      font-weight: 600;
    }
    .blog h4{
      padding: 12px 0 7px 0  ;
      font-size: 18px;
      font-weight: 600;
    }
  }
  
  @media only screen and (max-width:768px) {
    .blog{
      padding: 0 10px;
    }
    .blog-container{
      width: 90%;
    }
  }